{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" data-theme="cafe">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="{% static 'src/styles.css' %}">
		{% tailwind_css %}
	</head>
	<body class="bg-gray-50 font-sans  leading-normal tracking-normal">
		{% include 'navbar.html' %}
		<div data-theme="light">
			<section >
				{% block content %}

				{% endblock %}
			</section>
		</div>
		{% include 'footer.html' %}
	</body>
</html>
